.Tilt {
    background: linear-gradient(90deg, #FF5EDF 0%, #04C8DE 100%);
}

@media screen and (max-width: 1024px) {
    .Tilt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    }
  }