.bounding-box {
  position: absolute;
  border: 1px solid #ff0000;
  box-shadow: 0 0 15px #ff0000 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.imagebox {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .imagebox {
    display: flex;
    justify-content: center;
  }
}
