.bounding-box {
    position: absolute;
    box-shadow: 0 0 30px #ff0000 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

  .imagebox {
    width: 500px;
    height: auto;
  }

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    .imagebox {
    display: flex;
    justify-content: center; 
    }
  }